.ado{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 36rem;
    height: 10vh;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.w{
    font-size: 60px;
    font-weight: bold;
    padding-left: 100px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}
.aro{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    gap: 1.5rem;
    color: black;
    margin-left: 265px;
    width: 660px;
    height:240px ;
    margin-top: 250px;
}
.h{
    font-size: larger;
    padding-left: 20px;
}
.icons{
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.618);
}
.o{
    padding-left: 20px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.689);
}
.mid{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.black{
    height: 440px;
    background-color: hsl(240, 100%, 5%);
    color: white;
    width: 300px;
    margin-right: 170px;
    margin-top: 0;
    padding-top: 0;
}
.ph{
    width: 660px;
    height: 260px;
    position: absolute;
    left: 19%;
    top:11%;
}
h1{
    font-size: 50px;
    font-weight: bolder;
}
button{
    background-color: hsl(5, 86%, 57%);
    border: none;
    color: black;
    width: 195px;
    height: 45px;
    font-size: medium;
    font-weight: bold;
}
h2{
    color: hsl(35, 81%, 60%);
    font-size: xx-large;
    padding-left: 20px;
}
hr{
    width: 250px;
    margin: 30px;
}
.t{
    font-size: medium;
    font-weight: bold;
}
.ol{
    width: 100px;
    height: 130px;
}
.bot{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
h3{
    color: hsl(5, 89%, 58%);
    padding-bottom: 5px;
    margin: 0;
    font-size: xx-large;
}
h5{
    color: hsla(240, 94%, 6%, 0.56);
}
.box{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 100px;
}
.e{
    color: rgba(18, 18, 18, 0.617);
}
.ado h1{
    margin-left: 70px;
}
.ado a{
    text-decoration: none;
    color: rgb(150, 149, 149);
    padding-right: 10px;
}